@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=DynaPuff:wght@400..700&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@font-face {
    font-family: Digital;
    src: url(fonter/digital-7/digital-7.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.spill body {
    overflow: hidden;
}

.spill h1 {
    font-family: 'Black Ops One';
    font-size: 50px;
}
.spill p{
    font-family: Digital, Orbitron;
    font-size: 30px;
}

.main {
    background-color: rgb(173, 219, 208);
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 10vh 70vh 5vh 15vh;
    
}

.spill header {
    background-color: rgb(173, 219, 208);
    grid-column: 1/4;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: DynaPuff;
    font-size: 30px;
}

#venstre {
    grid-row: 2/4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}



#sky {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-image: url(bilder/sky.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 100px;
    top: -110px;
    position: relative;
    z-index: 0;
    animation-timing-function: linear;
    font-family: DynaPuff;
}

.tallFall {
    animation: box 10s forwards;
}


@keyframes box {
    0% {
        top: -110px;
        left: calc(50% - 75px);
    }

    100% {
        top: 100%;
        left: calc(50% - 75px);
    }
}

#midten>h1 {
    display: flex;
    justify-content: center;
    position: relative;
    font-family: 'Black Ops One';
    background-color: rgb(173, 219, 208);
    z-index: 100;
    font-size: 100px;
}

#scoreboard{
    border-collapse: collapse;
    border: 1px solid black;
    width: 80%;
}

table, th, td {
    border: 1px solid black; 
    padding: 8px;
    text-align: center;
}

button{
    width: 100px;
    border: none;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 5px black inset;
    background-color: antiquewhite;
    font-family: DynaPuff;
    font-size: 20px;
}

#score{
    background-color: antiquewhite;
    width: 100px;
    padding: 5px;
    border-radius: 10px;
    margin: auto;
    cursor: pointer;
    box-shadow: 0px 0px 5px black inset;
    font-family: DynaPuff;
    font-size: 20px;
}

#høyre {
    grid-row: 2/4;
    grid-column: 3/4;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.rør {
    grid-column: 2/3;
    background-color: rgb(173, 219, 208);
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
}

.rør>div {
    background-image: url(bilder/rør.png);
    height: 5vh;
    width: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 20;
    text-align: center;
    font-weight: 1000;
}

#bunn {
    background-color: rgb(173, 219, 208);
    grid-column: 1/4;
    position: relative;
    z-index: 10;
    text-align: center;
}

#tidBox {
    display: flex;
    justify-content: center;

}

@media(width < 1000px) {
    h1{
        font-size: 20px;
    }

    header {
        font-size: 20px;
    }
    .main {
        grid-template-columns: 15% auto 15%;
        grid-template-rows: 10vh 70vh 5vh 15vh;
        
    }
    #midten>h1 {
        font-size: 50px;
    }
    
}

@media(width < 500px) {
    body{
        overflow: scroll;
    }
    h1{
        font-size: 10px;
    }
    
    p{
        font-size: 20px;
    }

    header {
        font-size: 10px;
    }
    .main {
        grid-template-columns: auto;
        grid-template-rows: 7vh 8vh 68vh 5vh 7vh 8vh;
        
    }
    #midten>h1 {
        font-size: 30px;
    }
    #venstre {
        grid-row: 2/3;
        grid-column: 1/4;
        position: relative;
        z-index: 100;
        background-color: rgb(173, 219, 208);
    }
    #midten{
        grid-column: 1/4;
    }
    #høyre{
        grid-row: 5/6;
        grid-column: 1/4;
    }

    .rør>div {
        background-image: url(bilder/rør.png);
        height: 5vh;
        width: 50px;
        padding-top: 3px;
    }

    #sky {
        font-size: 15px;
        width: 70px;
        height: 40px;
        top: -110px;
    }
    @keyframes box {
        0% {
            top: -10%;
            left: calc(50% - 35px);
        }
    
        100% {
            top: 100%;
            left: calc(50% - 35px);
        }
    }
    .rør{
        grid-column: 1/4;
        justify-content: space-around;
    }
    button{
        width: 50px;
        font-size: 10px; 
    }
}