@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=DynaPuff:wght@400..700&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@font-face {
    font-family: Digital;
    src: url(fonter/digital-7/digital-7.ttf);
}

:root {
    --background-color: #171423;
    --background-color2: #001b1b;
    --font-color: #DDE2C6;
}


.spill body {
    overflow: hidden;
}

.spill h1 {
    font-family: 'Black Ops One';
    font-size: 40px;
    color: var(--font-color);
    font-weight: 100;
}


.spill p {
    font-size: 30px;
    color: var(--background-color);

}

.main {
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 10vh 70vh 7vh 13vh;

}

.spill header {
    background-color: var(--background-color);
    grid-column: 1/4;
    z-index: 10;
}   

#venstre {
    grid-row: 2/4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}



#sky {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-image: url(bilder/sky.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 100px;
    top: -110px;
    position: relative;
    z-index: 0;
    animation-timing-function: linear;
    font-family: DynaPuff;
}

.tallFall {
    animation: box 20s forwards;
}


@keyframes box {
    0% {
        top: -110px;
        left: calc(50% - 75px);
    }

    100% {
        top: 100%;
        left: calc(50% - 75px);
    }
}

#midten>h1 {
    display: flex;
    justify-content: center;
    position: relative;
    font-family: 'Black Ops One';
    background-color: var(--background-color);
    z-index: 100;
    font-size: 100px;
}

#scoreboard {
    border-collapse: collapse;
    border: 1px solid black;
    width: 80%;
}

button {
    width: 100px;
    border: none;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 5px black inset;
    background-color: antiquewhite;
    font-family: DynaPuff;
    font-size: 20px;
}

#score {
    background-color: antiquewhite;
    width: 100px;
    padding: 5px;
    border-radius: 10px;
    margin: auto;
    cursor: pointer;
    box-shadow: 0px 0px 5px black inset;
    font-family: DynaPuff;
    font-size: 20px;
}

#høyre {
    grid-row: 2/4;
    grid-column: 3/4;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.rør {
    grid-column: 2/3;
    background-color: var(--background-color);
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}

.rør>div {
    background-color: var(--font-color);
    box-shadow: inset 0px 0px 5px black;
    border-radius: 10px;
    height: 7vh;
    width: 100px;
    position: relative;
    z-index: 100;
    text-align: center;
    font-weight: 600;
}

#bunn {
    background-color: var(--background-color);
    grid-column: 1/4;
    position: relative;
    z-index: 10;
    text-align: center;
}

#tidBox {
    display: flex;
    justify-content: center;
    color: var(--font-color);
}
#tidBox p{
    color: var(--font-color);
}


@media(width < 1000px) {
    .spill h1 {
        font-size: 20px;
    }

    .spill header {
        font-size: 20px;
    }

    .main {
        grid-template-columns: 15% auto 15%;
        grid-template-rows: 10vh 70vh 5vh 15vh;

    }

    #midten>h1 {
        font-size: 50px;
    }

}

@media(width < 500px) {
    .spill body {
        overflow: scroll;
    }

    .spill h1 {
        font-size: 10px;
    }

    .spill p {
        font-size: 20px;
    }

    .spill header {
        font-size: 10px;
    }

    .main {
        grid-template-columns: auto;
        grid-template-rows: 7vh 8vh 68vh 5vh 7vh 8vh;

    }

    #midten>h1 {
        font-size: 30px;
    }

    #venstre {
        grid-row: 2/3;
        grid-column: 1/4;
        position: relative;
        z-index: 100;
        background-color: var(--background-color);
    }

    #midten {
        grid-column: 1/4;
    }

    #høyre {
        grid-row: 5/6;
        grid-column: 1/4;
    }

    .rør>div {
        background-image: url(bilder/rør.png);
        height: 5vh;
        width: 15%;
        padding-top: 3px;
    }

    #sky {
        font-size: 15px;
        width: 70px;
        height: 40px;
        top: -110px;
    }

    @keyframes box {
        0% {
            top: -10%;
            left: calc(50% - 35px);
        }

        100% {
            top: 100%;
            left: calc(50% - 35px);
        }
    }

    .rør {
        grid-column: 1/4;
        justify-content: space-around;
    }

    button {
        width: 50px;
        font-size: 10px;
    }
}
