
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Poppins", serif;
}

body {
    background-color: #0F121A;
    color: #DDE2C6;
}

img {
    width: 100%;
}

#title {
    font-family: Audiowide;
    font-weight: 100;
    font-size: 40px;
    text-align: center;
}

.navbar {
    display: flex;
    margin-bottom: 14px;

    border-bottom: 0.5px solid white;
    /* background-image: url("bilder/navbarBanner.jpg");
    background-size: cover; */
    justify-content: space-around;
}

.navbar a {
    font-size: 24px;
    text-decoration-line: none;
    color: inherit;
    padding: 20px;

    transition: color 0.1s ease-in-out;
}

.navbar a:hover{
    color: #0F121A;
    background: linear-gradient(to top, #DDE2C6, rgba(0,0,0,0));
}

/*
    oversetter.html

*/
.hovedoversetter{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

#kalkulator{
    width: 300px;
    height: 300px;
    margin: auto;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

input{
    width: 100px;
}

.oversetter p{
    font-size: 23px;
}

.gridbox{
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 150px auto 150px;
    height: 100vh;
    gap: 5px;
}

header,footer,main,aside{
    border: 2px solid black;
    background-color: #b5ceb4;
    font-size: 30px;
    padding: 20px;
    color: green;
}

header{
    grid-column: 1/3;
}

footer{
    grid-column: 1/3;
}
