
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Poppins", serif;
}

body {
    background-color: #0F121A;
    color: #DDE2C6;
}

img {
    width: 100%;
}

#title {
    font-family: Audiowide;
    font-weight: 100;
    font-size: 40px;
    text-align: center;
}

.navbar {
    display: flex;
    margin-bottom: 14px;

    border-bottom: 0.5px solid white;
    /* background-image: url("bilder/navbarBanner.jpg");
    background-size: cover; */
    justify-content: space-around;
}

.navbar a {
    font-size: 24px;
    text-decoration-line: none;
    color: inherit;
    padding: 20px;

    transition: color 0.1s ease-in-out;
}

.navbar a:hover{
    color: #0F121A;
    background: linear-gradient(to top, #DDE2C6, rgba(0,0,0,0));
}

/*
    oversetter.html

*/
.hovedoversetter{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

#kalkulator{
    width: 300px;
    height: 300px;
    margin: auto;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

input{
    width: 100px;
}

.oversetter p{
    font-size: 23px;
}

.gridbox{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 200px 200px 100px ;
    gap: 20px;
    padding-top: 50px;
    justify-content: center;

}

.gridbox div{
    border: 2px solid black;
    background-color: lightgreen;
    font-size: 30px;
    padding: 20px;
    color: green;
    border-radius: 10px;

}


#boks1{
    grid-row: 1/3;
    background-image:url("https://cdn.pixabay.com/photo/2014/10/05/19/02/binary-code-475664_1280.jpg") ;
    background-size: cover;
}

#boks3{
    grid-row: 1/3;
    grid-column: 3;
    background-image: url("https://cdn.pixabay.com/photo/2022/05/24/14/15/binary-code-7218631_1280.jpg");
    background-size: cover;
}

#boks2{
    background-image: url("https://cdn.pixabay.com/photo/2020/05/20/05/44/digitization-5194814_1280.jpg");
    background-size: cover;
}


#boks4{
    grid-row: 2/4;
    background-image:url("https://cdn.pixabay.com/photo/2021/09/09/04/38/binary-6609473_1280.jpg");
    background-size: cover;
}

.container{
    width: 100%;
    height: 1000px;
    margin-top: 100px;
    background-color: #001e00;

}
